certifi==2021.10.8
charset-normalizer==2.0.12
idna==3.3
pycodestyle==2.8.0
pydantic==1.9.0
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
pywin32==303
requests==2.27.1
typing_extensions==4.1.1
uptime==3.0.1
urllib3==1.26.9
WMI==1.5.1